<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Paczka</title>
</head>

<body>
    <div class="strona">
        <div class="naglowek">
            Paczka
            <a href="/kurier/zalogowany<%-url-%>" style="font-size: 16px;">Powrót do strony głównej</a>
        </div>
        <form action="/kurier/dodajKuriera<%-url-%>" method="post">
            <div class="dodaj-kuriera">
                <h1>Dodaj Kuriera</h1>
                <br>
                <table>
                    <tr>
                        <td></td>
                        <td style="color: red; font-size: 18px;">
                            <%= err %>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="imie">Imie:</label></td>
                        <td><input type="text" id="imie" class="imie" name="imie"></td>
                    </tr>
                    <tr>
                        <td><label for="nazwisko">Nazwisko:</label></td>
                        <td><input type="text" id="nazwisko" class="nazwisko" name="nazwisko"></td>
                    </tr>
                </table>
                <br>
                <button type="submit" id="dodaj-kuriera-przycisk">Dodaj</button>
            </div>
        </form>
    </div>
</body>

</html>