<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Paczka</title>
</head>

<body>
    <div class="strona">
        <div class="naglowek">
            Paczka
        </div>
        <div class="przyciski">
            <h2>Dla użytkownika</h2>
            <ul>
                <li><a href="/dodajPaczke">Nadaj Paczke</a></li>
                <li><a href="/dodajUzytkownika">Dodaj Użytkownika</a></li>
                <li><a href="/sprawdzPaczke">Sprawdź status paczki</a></li>
            </ul>
            <h2>Dla kuriera</h2>
            <div style="text-align: center;">
                <a href="/kurier/login">Zaloguj się</a>
            </div>
        </div>
    </div>
</body>

</html>