<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Paczka</title>
</head>

<body>
    <div class="strona">
        <div class="naglowek">
            Paczka
        </div>
        <div class="przyciski-kurier">
            <ul>
                <li><a href="/kurier/zmienStatus<%-url-%>">Zmień status paczki</a></li>
                <li><a href="/kurier/dodajKuriera<%-url-%>">Dodaj kuriera</a></li>
                <li><a href="/kurier/wyswietlPaczki<%-url-%>">Wyswietl paczki</a></li>
                <li><a href="/kurier/dodajPaczkomat<%-url-%>">Dodaj paczkomat</a></li>
            </ul>
            <div style="text-align: center;">
                <a href="/" id="zaloguj-sie">Wyloguj się</a>
            </div>
        </div>
    </div>
</body>

</html>