<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Paczka</title>
</head>

<body>
    <div class="strona">
        <div class="naglowek">
            Paczka
            <a href="/kurier/zalogowany<%-url-%>" style="font-size: 16px;">Powrót do strony głównej</a>
        </div>
        <div class="zmieniono-status">
            <h1>Zmieniono status paczki</h1>
        </div>
    </div>
</body>

</html>